In [1]:
import pandas as pd
import numpy as np

In [11]:
common_prefix = "/Users/mislam1/Documents/RA/research-2018/malware-detection/malware-dataset1218/malware-{0}-all-{1}/Revealdroid/Revealdroidcombined.csv"

In [12]:
print("malware-{0}-all-{1}/Revealdroid/Revealdroidcombined.csv".format("2010", "2010"))

malware-2010-all-2010/Revealdroid/Revealdroidcombined.csv

In [13]:
print(common_prefix.format("2011", "2011"))

/Users/mislam1/Documents/RA/research-2018/malware-detection/malware-dataset1218/malware-2011-all-2011/Revealdroid/Revealdroidcombined.csv

In [14]:
df_10 = pd.read_csv(common_prefix.format("2010", "2010"))

In [16]:
df_10.shape

(3221, 55258)

In [17]:
df_10.head()

,Unnamed: 0,.normalize16loop122,_01forward.clone.0,_01inverse,____aeabi_d2f_from_thumb,____aeabi_d2iz_from_thumb,____aeabi_d2lz_from_thumb,____aeabi_d2uiz_from_thumb,____aeabi_d2ulz_from_thumb,____aeabi_dadd_from_thumb,...,zmbv_decode_intra,zmbv_decode_xor_16,zmbv_decode_xor_32,zmbv_decode_xor_8,zoomsurface,zoomsurfacergba,zoomsurfacey,zreceive,zygote_run_oneshot,zygote_run_wait
0,B97419B85ED8968F8D9193B536C00560E9A2D86D101820...,2,17,23,1,1,1,1,1,1,...,2,30,30,33,11,25,11,2,37,38
1,1F54E72684DB6E658C4DAFCAE91014EB4941FA40218786...,2,17,23,1,1,1,1,1,1,...,2,30,30,33,11,25,11,2,37,38
2,34470744AD49EAA6B89999BE4D4C05BDE3FA9970D0DEFE...,2,17,23,1,1,1,1,1,1,...,2,30,30,33,11,25,11,2,37,38
3,04DBB5583D367DB9FD61483F969D9CF2C72F49FBC6E5D2...,2,17,26,0,0,0,0,0,0,...,2,30,30,33,11,25,11,2,0,0
4,056FBCEB8A8E3902EB2F9B5138FC2B0F806B137A266D92...,2,17,26,0,0,0,0,0,0,...,2,30,30,33,11,25,11,2,0,0

In [19]:
"label" in df_10.columns

True

In [22]:
columns = df_10.columns.tolist()

In [23]:
type(columns)

list

In [26]:
columns.insert(1, columns.pop(columns.index('label')))

In [28]:
df_10 = df_10.reindex(columns=columns)

In [29]:
df_10.head(2)

,Unnamed: 0,label,.normalize16loop122,_01forward.clone.0,_01inverse,____aeabi_d2f_from_thumb,____aeabi_d2iz_from_thumb,____aeabi_d2lz_from_thumb,____aeabi_d2uiz_from_thumb,____aeabi_d2ulz_from_thumb,...,zmbv_decode_intra,zmbv_decode_xor_16,zmbv_decode_xor_32,zmbv_decode_xor_8,zoomsurface,zoomsurfacergba,zoomsurfacey,zreceive,zygote_run_oneshot,zygote_run_wait
0,B97419B85ED8968F8D9193B536C00560E9A2D86D101820...,anomaly,2,17,23,1,1,1,1,1,...,2,30,30,33,11,25,11,2,37,38
1,1F54E72684DB6E658C4DAFCAE91014EB4941FA40218786...,anomaly,2,17,23,1,1,1,1,1,...,2,30,30,33,11,25,11,2,37,38

# from sklearn.feature_selection import VarianceThreshold

In [30]:
from sklearn.feature_selection import VarianceThreshold

In [40]:
sel = VarianceThreshold(threshold=(.8 * (1 - .8)))
sel.fit_transform(df_10.values[:, 2:]).shape

(3221, 24984)

(3221, 55258)

In [39]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel

X = df_10.values[:, 2:]
y = df_10.values[:, 1]
clf = ExtraTreesClassifier(n_estimators=500)
clf = clf.fit(X, y)
clf.feature_importances_  

model = SelectFromModel(clf, prefit=True)
X_new = model.transform(X)
X_new.shape

(3221, 499)

In [38]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.datasets import load_iris
from sklearn.feature_selection import SelectFromModel
iris = load_iris()
X, y = iris.data, iris.target
print(X.shape)

clf = ExtraTreesClassifier(n_estimators=50)
clf = clf.fit(X, y)
clf.feature_importances_  

model = SelectFromModel(clf, prefit=True)
X_new = model.transform(X)
print(X_new.shape)

(150, 4)
(150, 2)

In [41]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

X = df_10.values[:, 2:]
y = df_10.values[:, 1]
X.shape

X_new = SelectKBest(chi2, k=2).fit_transform(X, y)
X_new.shape

(3221, 2)